body {
  font-family: Arial;
  background-color: #eee;
  padding: 30px;
}

/* block */
.block {
  background-color: #8fb6c1;
  padding: 15px;
  margin-bottom: 20px;
}

/* inline */
.inline-wrap {
  margin-bottom: 20px;
}

.inline {
  display: inline;
  background-color: #8fdc8f;
  padding: 10px;
  margin-right: 5px;
}

/* inline-block */
.inline-block-wrap {
  margin-bottom: 20px;
}

.inline-block {
  display: inline-block;
  width: 200px;
  height: 60px;
  background-color: #e57373;
  margin-right: 10px;
  padding: 10px;
}

/* flex */
.flex-container {
  display: flex;
  gap: 20px;
  background-color: #e8e2c5;
  padding: 20px;
  margin-bottom: 30px;
}

.flex-item {
  flex: 1;
  background-color: orange;
  padding: 20px;
}

/* grid */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #d9d8e8;
  padding: 20px;
}

.grid-item {
  background-color: #7e6cc4;
  color: black;
  padding: 30px;
}
